<br/>
<label class="search-box">
    <input type="text" [(ngModel)]="albumSearch" (keyup.enter)="albumSearchUpdate()" placeholder="search album" />
</label>
<button class="search-btn" (click)="albumSearchUpdate()">Go</button>

<!-- TODO: show recently viewed albums/chapters here -->
<div>
    <h2>Recently Viewed</h2>
    <div *ngIf="historyService.getSize() > 0; else noHistory">
        <div *ngFor="let ch of historyService.getHistory()"><a [routerLink]="['reader', ch.hash]">{{ ch.title ? ch.title : "&lt;untitled&gt;" }}</a></div>
    </div>
    <ng-template #noHistory>
        <div>no history</div>
    </ng-template>
</div>
