<br/>
<label class="search-box">
    <input type="text" [(ngModel)]="albumSearch" (keyup.enter)="albumSearchUpdate()" placeholder="search album" />
</label>
<button class="search-btn" (click)="albumSearchUpdate()">Go</button>

<!-- TODO: show recently viewed albums/chapters here -->
<div>
    <h2>Recently Viewed</h2>
    <div *ngIf="historyService.getSize() > 0; else noHistory">
        <ol>
            <li *ngFor="let che of historyService.getHistory()">
                ({{ che.dateAccessed | date:'y-MM-dd hh:mm a' }}) <a [routerLink]="['reader', che.chapter.hash]">{{ che.chapter.title ? che.chapter.title : "&lt;untitled&gt;" }}</a>
            </li>
        </ol>
    </div>
    <ng-template #noHistory>
        <div>no history</div>
    </ng-template>
</div>
