Test with ojwXr
<!-- <label>Imgur Album: <input type="text" [(ngModel)]="albumSearch" (change)="albumSearchUpdate()" (keyup.enter)="albumSearchUpdate()" /></label> -->
<label>Imgur Album: <input type="text" [(ngModel)]="albumSearch" (keyup.enter)="albumSearchUpdate()" /></label>
<button (click)="albumSearchUpdate()">Go</button>

<h3 *ngIf="currentChapter">{{ currentChapter.getTitle() }}</h3>

<div class="reader-container">
    <div *ngIf="currentChapter">
        <button (click)="prevPage()">Previous</button>
        Page
        <select id="page-selector" (change)="gotoPage($event.target.value)" [(ngModel)]="currentPageIndex">
            <option *ngFor="let i of currentChapter.getNumPages() | range" value="{{ i }}">
                {{ i + 1 }}
            </option>
        </select>
        out of {{ currentChapter.getNumPages() }}
        <button (click)="nextPage()">Next</button>
    </div>
    <div class="image-container">
        <img *ngIf="currentPage" src="{{ currentPage.getLink() }}" (click)="nextPage()" />
    </div>
</div>
